.carrusel.servicio{
  width: 90%;
  margin: 0 auto;
}

.info{
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.conBorde{
  border: 2px solid;
  border-radius: 10px;
}

.info svg{
  color: black;
}

.redes{
  width: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.info>p{
  margin: 0px;
}

.Informacion{
  margin: 10px auto;
  width: 90%;
}

.Map{
  display: flex;
  place-content: center;
  margin: auto;
  flex-direction: column;
  justify-content: center;
}
.Map>p{
  margin: auto;
}

.Map>a{
  width: 10%;
  padding: 5px;
  margin: auto;
}

.ImgMap{
  width: 100%;
}

.comentar{
  display: flex;
  place-content: center;
  margin: 0 auto;
  width: 50%;
  justify-self: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .carrusel.servicio{
    width: 80%;
  }
  .info{
    width: 80%;
  }

  .Informacion{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .Map>a{
    width: 10%;
  }
}