.subtitulo-nosotros{
    display: block;
    text-align: center;
    margin: 15px auto 20px;
    height: 35px;
    width: 80%;
    letter-spacing: 1px;
    border-bottom: 2px solid;
}

.cont-nosotros{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .cont-nosotros{
        flex-direction: row;
    }

    .myv{
        width: 45%;
    }
}