.Fondo{
    background-image: url(../Imagenes/LoginPequeño.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.Login{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contLogo{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.imgLogo{
    width: 80%;
    margin: 10px auto;
}

@media screen and (min-width: 768px) {
    .Fondo{
        background-image: url(../Imagenes/Login.jpeg);
        display: flex;
        align-items: center;
    }

    .Login{
        flex-direction: row;
        width: 100%;
        
    }

    .contLogo{
        width: 40%;
    }

    .imgLogo{
        width: 100%;
        object-fit: contain;
    }

    .formularioLogo{
        width: 60%;
    }

}