.titulo-form{
    display: block;
    text-align: center;
    margin: 15px auto 20px;
    height: 35px;
    width: 80%;
    letter-spacing: 1px;
    border-bottom: 2px solid;
}

.campos{
    z-index: 1;
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid;
}
.campo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 5px;
}

.campo>textarea{
    resize: none;
}

.campo>select{
    padding-left: 1px;
}

.ingreso{
    width: 100%;
    padding: 0 5px;
}

.enviar{
    width: 30%;
    margin: 0 auto;
    margin: 5px auto;
    justify-self: center;
    color: #fff;
}

#descripcion{
    height: 200px;
    align-items: center;
}


.campoImagen{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.subidas{
    display: flex;
    flex-direction: column;
}

.campoImagen>label{
    width: 200px;
    margin: 0 auto;
    background-color: rgb(133, 190, 240);
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

form.campos>button:disabled{
    background-color: darkgray !important;
    border-color: darkgray !important;
}

@media screen and (min-width: 768px) {
    .campos{
        width: 45%;
        gap: 5px;
    }

    .campo{
        flex-direction: row;
        margin: 0 auto;
        width: 90%;
    }

    .ingreso{
        width: 70%;
    }
}