.unirse{
    width: 70%;
    color: #fff;
    background-color: #D94E9F;
    padding: 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    transition: .2s;
}

.unirse:hover{
    outline: none;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0px 2px 3px gray;
}

.Botones{
    margin: 25px auto;
    display: flex;
    flex-direction: column;
}

.Registro{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.item{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}



img{
    margin: 0 auto;
    width: 30%;
}


@media screen and (min-width: 768px) {
    .unirse{
        width: 50%;
    }

    .Botones{
        flex-direction: row;
        
    }

    .Registro{
        flex-direction: row;
    }

    .item{
        margin: auto;
        flex-direction: row;
    }
  }